.Footer {
    padding: 10px;
  }
  
  .Footer .Footer-credits {
    font-size: x-small;
  }
  
  .Footer .Footer-credits a {
    text-decoration: none;
    color: white;
  }
  
  .Footer .Footer-credits a:hover {
    text-decoration: underline;
  }
  