@font-face {
  font-family: "Frutiger Neue W02 Thin";
  src: url("fonts/@font-face/Frutiger Neue W02 Thin.eot"); /* IE9 Compat Modes */
  src: url("fonts/@font-face/Frutiger Neue W02 Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/@font-face/Frutiger Neue W02 Thin.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/@font-face/Frutiger Neue W02 Thin.woff") format("woff"), /* Pretty Modern Browsers */ url("fonts/@font-face/Frutiger Neue W02 Thin.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/@font-face/Frutiger Neue W02 Thin.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "PokeFont Hollow";
  src: local("PokeFont Hollow"), url(./fonts/PokeFont/Pokemon\ Hollow.ttf) format("woff");
}
@font-face {
  font-family: "PokeFont Solid";
  src: local("PokeFont Solid"), url(./fonts/PokeFont/Pokemon\ Solid.ttf) format("woff");
}

body {
  background-color: rgba(0, 0, 0, 0.95);
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

.loading {
  background-color: hotpink;
  color: white;
  min-width: 150px;
  min-height: 50px;

  text-align: center;

  display: flex;
  align-content: center;
  justify-content: center;
}

.Header {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  
  padding: 16px;

  text-align: center;
}

.Header > h1 {
  font-family: "PokeFont Solid";
  font-size: 6em;
  margin-top: -0.9em;
}

.Header > h1 + h2
{
  font-family: "PokeFont Hollow";
  font-size: 1.5em;
  margin-top: -2.2em;
}

.App {
  max-width: 80vw;
  min-height: 100vh;
  margin: 0;

  color: white;
  background-color: maroon;
  font-family: "Frutiger Neue W02 Thin";

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 5px 15px;
}

.Footer {
  padding: 10px;
}

.Footer .Footer-credits {
  font-size: x-small;
}

.Footer .Footer-credits a {
  text-decoration: none;
  color: white;
}

.Footer .Footer-credits a:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes FadeInFromNone {
  from
  {
    display: block;
    filter: brightness(inherit);
  }
  to {
    display: block;
    filter: brightness(1);
  }
}