@font-face {
  font-family: "Frutiger Neue W02 Thin";
  src: url("fonts/@font-face/Frutiger Neue W02 Thin.eot"); /* IE9 Compat Modes */
  src: url("fonts/@font-face/Frutiger Neue W02 Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/@font-face/Frutiger Neue W02 Thin.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/@font-face/Frutiger Neue W02 Thin.woff") format("woff"), /* Pretty Modern Browsers */ url("fonts/@font-face/Frutiger Neue W02 Thin.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/@font-face/Frutiger Neue W02 Thin.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "PokeFont Hollow";
  src: local("PokeFont Hollow"), url(./fonts/PokeFont/Pokemon\ Hollow.ttf) format("woff");
}
@font-face {
  font-family: "PokeFont Solid";
  src: local("PokeFont Solid"), url(./fonts/PokeFont/Pokemon\ Solid.ttf) format("woff");
}

h1,
h2,
h3 {
  text-align: center;
  margin: 5px 15px;
}

body {
  background-color: rgba(0, 0, 0, 0.95);
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

.App {
  max-width: 80vw;
  min-height: 100vh;
  margin: 0;

  color: white;
  background-color: maroon;
  font-family: "Frutiger Neue W02 Thin";

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -- Toolbox -- */

.loading {
  background-color: hotpink;
  color: white;
  min-width: 150px;
  min-height: 50px;
  max-width: 200px;
  max-height: 100px;

  text-align: center;

  display: flex;
  align-content: center;
  justify-content: center;
}

/* -- Animations -- */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes DarkenIn {
  from
  {
    filter: brightness(0);
  }
  to {
    filter: brightness(1);
  }
}

@keyframes FadeInFromNone {
    0%
    {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 1;
    }
}