@font-face {
  font-family: "Frutiger Neue W02 Thin";
  src: url("fonts/@font-face/Frutiger Neue W02 Thin.eot"); /* IE9 Compat Modes */
  src: url("fonts/@font-face/Frutiger Neue W02 Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/@font-face/Frutiger Neue W02 Thin.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/@font-face/Frutiger Neue W02 Thin.woff") format("woff"), /* Pretty Modern Browsers */ url("fonts/@font-face/Frutiger Neue W02 Thin.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/@font-face/Frutiger Neue W02 Thin.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "PokeFont Hollow";
  src: local("PokeFont Hollow"), url(./fonts/PokeFont/Pokemon\ Hollow.ttf) format("woff");
}
@font-face {
  font-family: "PokeFont Solid";
  src: local("PokeFont Solid"), url(./fonts/PokeFont/Pokemon\ Solid.ttf) format("woff");
}

body {
  background-color: white;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

.loading {
  background-color: hotpink;
  color: white;
  min-width: 150px;
  min-height: 50px;

  text-align: center;

  display: flex;
  align-content: center;
  justify-content: center;
}

.Header {
  text-align: center;
}

.Header > h1 {
  font-family: "PokeFont Solid";
  font-size: 4em;
  margin-top: -1.2em;
}

.Header > h2 {
  font-family: "PokeFont Hollow";
  font-size: 1em;
  margin-top: -0.5em;
}

.Header > h1 + h2
{
  font-size: 1.5em;
  margin-top: -2.2em;
}

.App {
  max-width: 80vw;
  min-height: 100vh;
  margin: 0;

  color: white;
  background-color: maroon;
  font-family: "Frutiger Neue W02 Thin";

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 5px 15px;
}

.InfoContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.InfoContainer > .Feature {
  padding: 10px;
}

.Feature {
  background-color: brown;
}

.Feature > h3 {
  padding: 5px;
}

.PokedexStats {
  background-color: olive;

  width: stretch;
  height: auto;
  padding: 16px;

  flex: 1;
  text-align: center;
}

.PokedexStats > p {
  padding: 16px;
  background-color: olivedrab;
  border: 7px solid rgb(0, 0, 0, 0.2);

  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.05);
}

.DetailCard {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;

  min-width: 200px;
  max-width: 300px;

  display: flex;
  flex-flow: column;
  text-align: center;
  align-content: center;
}

.DetailCard h1 {
  text-transform: capitalize;
  font-size: 24px;
}

.DetailCard p {
  margin: 5px;
}

.DetailCard img {
  min-width: 150px;
  min-height: 150px;
  padding: 10px;
}

.FlashCardContainer {
  background-color: greenyellow;

  min-width: 350px;

  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.FlashCard {
  background-color: orange;
  border: 5px solid rgb(0, 0, 0, 0.15);
  color: white;
  font-size: 24px;
  min-width: 200px;
  min-height: 42px;

  text-transform: capitalize;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: space-around;

  padding-left: 20px;
  margin: 5px;
}

.FLashcard > p {
  margin-bottom: -0.5em;
  color: red;
}

.Footer {
  padding: 10px;
}

.Footer .Footer-credits {
  font-size: x-small;
}

.Footer .Footer-credits a {
  text-decoration: none;
  color: white;
}

.Footer .Footer-credits a:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
